/*color code: #ff136f*/

.container {
    margin-bottom: 80px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-pink-bg {
    background-color: #feeae9;
    border-radius: 10px;
    padding: 20px 40px;
}

.price {
    color: #fe1f73;
}

.buy-Now-button {
    background-image: linear-gradient(to bottom right, #ec5f97, #fe1f73);
    padding: 8px 20px;
    border-radius: 4px;
    color: white;
    border: none;
}

.categories {}

.categories img {
    width: 100px;
}

.cat-1,
.cat-2,
.cat-3 {
    padding: 15px 20px;
    border-radius: 8px;
    color: white;
}

.cat-1 {
    background-image: linear-gradient(to bottom right, #fe9938, #fed018);
}

.cat-2 {
    background-image: linear-gradient(to bottom right, #fe5297, #ff1b75);
}

.cat-3 {
    background-image: linear-gradient(to bottom right, #4187ff, #3f05f7);
}

footer {
    text-align: center;
    color: #222;
    bottom: 20px;
}

.subscribe {
    height: 300px;
}